@model IEnumerable<nail_in_nottingham.Models.ServiceBillDesk>
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}


@using (Html.BeginForm("Index", "Services", FormMethod.Post))
{
    var serviceDetailsList = (from s in Model
                              group s by s.ServiceID into temp
                              select new
                              {
                                  T1 = temp.Key.ToString(),
                                  T2 = temp
                              }).ToList();

    foreach (var item in serviceDetailsList)
    {

        var divName = item.T2.ToList()[0].ServiceMaster.ServiceType.Replace(" ", "");
        <div id=@divName class="service_info">

            <div id="image" style="float:left;">

                <h3 style="font-size: 20px; margin-top: 14%; margin-bottom:12%">@item.T2.ToList()[0].ServiceMaster.ServiceType.ToString()</h3>


                @{ string ImgPath = "../Content/mytemplate/images/ServiceImages/" + divName + ".jpg";}

                <img src=@ImgPath height="190" width="344" margin-left="10%" alt="icon">

                <br><br>

            </div>



            <div id="texts" style="float:left; margin-top:9%; margin-left:9%">

                @switch (divName)
                {

                    case "VelvetNailArt":
                        <p>          Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                  </p>
                        break;
                    case "CavierNailArt":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                   </p>
                        break;
                    case "NeonNailArt":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                    </p>
                        break;
                    case "CrackleNailArt":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                    </p>
                        break;
                    case "GlitterNailArt":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                     </p>
                        break;
                    case "BeadsNailArt":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                    </p>
                        break;
                    case "WeddingNailArt":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                   </p>
                        break;
                    case "MountainNailArt":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                    </p>
                        break;
                    case "Soakoff":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                    </p>
                        break;
                    case "NailOverlaysRegular":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                    </p>
                        break;
                    case "GelOverlays":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                     </p>
                        break;
                    case "AcrylicOverlays":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                    </p>
                        break;
                    case "Infills":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                     </p>
                        break;

                    case "FrenchInfill":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                   </p>
                        break;
                    case "Manicure(Basic)":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                     </p>
                        break;
                    case "FrenchManicure":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                     </p>
                        break;
                    case "ReverseFrenchManicure":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                    </p>
                        break;
                    case "AmericanManicure":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                    </p>
                        break;
                    case "GelManicure":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                     </p>
                        break;
                    case "HotstoneManicure":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                    </p>
                        break;
                    case "Pedicure":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                     </p>
                        break;
                    case "ManicureAndPedicure":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                    </p>
                        break;
                    case "ParaffinHandTreatment":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                   </p>
                        break;
                    case "ParaffinFootTreatment":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                    </p>
                        break;
                    case "ParaffinHandAndFootTreatment":
                        <p> Being good to your hands and nails is about having good daily habits and
                                    choosing the right products to use on them. A few small changes could make
                                    a difference in how your hands and nails look and feel.
                                 </p>
                        break;

                }


                            <br>
                        </div>

            <br class="clearfix">

            <table border="1" style="width:70%; text-align:center; margin-left:13%; margin-top:28%">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                @for (int i = 0; i < @item.T2.ToList().Count(); i++)
                {
                    //@item.T2.ToList()[i].ServiceVeriation.ServiceVariation.ToString()
                    <tr>
                        <td style="height:30px;width:30px;">@item.T2.ToList()[i].ServiceVeriation.ServiceVariation.ToString()</td>
                        <td>
                            Content
                        </td>
                        <td style="height:30px;width:50px;">@item.T2.ToList()[i].ServiceDuration.ToString()</td>
                        <td>@item.T2.ToList()[i].ServicePrice.ToString()</td>
                        <td>
                            @Html.ActionLink("BOOKING", "Index", "bookings", new { @SBId = item.T2.ToList()[i].ID }, null)
                        </td>
                    </tr>

                }


            </table>


            <a href="#" class="back-to-top"><span style="color:white">BACK TO TOP</span></a>

        </div>

                        }


                    }




