@model nail_in_nottingham.Models.visitor

@{
    ViewBag.Title = "Index";

}

 @*@if(null!= TempData["AlertMessage"])
   {
    <script type="text/javascript">
       alert("@TempData["AlertMessage"]");
    </script>
   }*@

    @if(ViewBag.ResultMessage != null)
    {
    <script>

        $(document).ready(function(){

            alert('@ViewBag.ResultMessage');
            document.getElementById('name').value = '';
            document.getElementById('location').value = '';
            document.getElementById('Phoneno').value = '';
            document.getElementById('Email').value = '';
            document.getElementById('testimonial').value = '';
            document.getElementById('Enquiry').value = '';

            return false;

   });



    </script>

  }

@using (Html.BeginForm("Index", "visitors", FormMethod.Post))
{
    //this  is for create form tag
    @Html.AntiForgeryToken()          // this is for prevent CSRF attack
    @Html.ValidationSummary(true)
  

    <div class="contact_page">
        <div class="address">
            <h2 style="border-bottom:1px solid;font-size:14px;">Come Visit Us At Our Studio </h2>
            <p style="font-family:sans-serif;font-size:11px;margin-top:10px;">
                <strong>
                    19 Trinity Walk <br /><br />

                    Nottingham, Nottinghamshire<br /><br />

                    NG1 2AN , United Kingdom<br /><br />

                    Phone: 0115 950 8932 <br /><br />

                </strong>
            </p>
            <br/><br /><br /><br />
        </div>

        <div id="map">
            <br/>
            <br /><br />
            <br /><br />
            <h2>LOCATE US</h2>


            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2403.6073039037315!2d-1.1513222841762305!3d52.955488679899055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4879c17ff3f6402f%3A0x54fd5af3d5404712!2s19+Trinity+Walk%2C+Nottingham%2C+Nottinghamshire+NG1+2AN%2C+UK!5e0!3m2!1sen!2sin!4v1450346303554" width="400" height="170" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" >
            </iframe>
        </div>
        @*<div class="contact_us">*@
                <fieldset style="width: 40%; margin-left: 12%; font-size:15px; margin-top:3%">
                    <legend>Contact Form</legend>
                    <table style="font-size:12px;">
                        
                        <tr>
                            <td style="font-size:14px;">
                                Your Name<span style="color:red;">*</span>:
                            </td>
                            <td>
                                @Html.TextBoxFor(Model => Model.visitor_name, new { @style = "", @placeholder = "Provide Your Name", @id="name" })
                                @Html.ValidationMessageFor(Model => Model.visitor_name)
                            </td>
                        </tr>

                        <tr>
                            <td style="font-size:14px;">
                                Location:
                                Location<span style="color:red;">*</span>:
                            </td>
                            <td>
                                @Html.TextBoxFor(Model => Model.visitor_location, new { @style = "" , @placeholder = "Provide Your Location", @id = "location" })

                                @Html.ValidationMessageFor(Model => Model.visitor_location)
                            </td>

                        </tr>

                        <tr>
                            <td style="font-size:14px;">
                           Phone Number<span style="color:red;">*</span>:</td>
                            <td>
                                @Html.TextBoxFor(Model => Model.visitor_phoneno, new { @style = "", @placeholder = "Provide Your ContactNo", @id = "Phoneno" })
                    @Html.ValidationMessageFor(Model => Model.visitor_phoneno)

                            </td>
                        </tr>

                        <tr>
                            <td style="font-size:14px;">
                                E-mail<span style="color:red;">*</span>:
                            </td>
                            <td>
                                @Html.TextBoxFor(Model => Model.visitor_email, new { @style = "", @placeholder = "Provide Your Email", @id = "Email" })
                      @Html.ValidationMessageFor(Model => Model.visitor_email)

                            </td>
                        </tr>

                        <tr>
                            <td style="font-size:14px;">
                                Would you like to submit?
                            </td>
                            <td>
                               

                                <p> @Html.RadioButton("testiEnqu", "1", new { onclick = "showTestiEnqu('1')" })Testimonial</p>
                                <p>
                                    @Html.RadioButton("testiEnqu", "2", new { onclick = "showTestiEnqu('2')" })Enquiry
                                </p>

                            </td>
                        </tr>


                        <tr>
                            <td></td>
                            <td>
                                <div id="dvTestimonial" style="display:none ">
                                    @Html.TextAreaFor(model => model.testimonials, new { placeholder = "Submit Your Testimonial here", rows = "5", cols = "50", Style = " resize: none;", @id = "testimonial" })
                                </div>
                                <div id="dvEnquiry" style="display:none;">
                                    @Html.TextAreaFor(model => model.enquiry, new { placeholder = "Submit Your Enquiry Here", rows = "5", cols = "50", Style = "resize: none", @id = "Enquiry" })
                                </div>
                            </td>
                        </tr>   
                    </table>


                </fieldset>
           
            <div class="submit" style="margin-bottom:20%;margin-top:2%; margin-left:13%">
                <input type="image" img src="~/Content/mytemplate/images/submit-button.png" style="margin-left: 151px; margin-top: 0px; height: 23px; width: 164px;" />
                <a href="#" class="back-to-top"><span style="color:white">BACK TO TOP</span></a>
            </div>
        </div>



 
}

<script src="~/Content/mytemplate/js/jquery.msgbox.i18n.js"></script>

<script src="~/Content/mytemplate/js/jquery.msgbox.js"></script>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
                                    function showTestiEnqu(value) {
                                        if (value == '1') {
                                            $('#dvTestimonial').css('display', 'block');
                                            $('#dvEnquiry').css('display', 'none');
                                            $('#Enquiry').val('');
                                        }
                                        else {
                                            $('#dvEnquiry').css('display', 'block');
                                            $('#dvTestimonial').css('display', 'none');
                                            $('#testimonial').val('');
                                            //document.getElementById('testimonial').value = '';
                                        }
                                    }

</script>
