
@{
    ViewBag.Title = "Nail";
}
<style>
    .container-service {
           padding-right: 15px;
    padding-left: 132px;
    margin-right: 0px;
    margin-left: -460px;
    height: 14000px;
    width: 200px;
    margin-bottom: 160px;
    margin-top: 0px;
        /*border-bottom: 2px solid;
    border-bottom-width: 2px;*/
    }

      .container1 {
    padding-right: 15px;
    padding-left: 90px;
    margin-right: 0px;
    margin-left: 335px;
    height: 450px;
    width: 1261px;
    margin-bottom: 160px;
    margin-top: -40px;
    border-bottom: 2px solid;
    border-bottom-width: 2px;
    }

    .container2 {
        padding-right: 15px;
        padding-left: 90px;
        margin-right: 0px;
        margin-left: 335px;
        height: 450px;
        width: 1261px;
        margin-bottom: 160px;
        margin-top: -40px;
        border-bottom: 2px solid;
        border-bottom-width: 2px;
    }

    .container3 {
        padding-right: 15px;
        padding-left: 90px;
        margin-right: 0px;
        margin-left: 335px;
        height: 450px;
        width: 1261px;
        margin-bottom: 160px;
        margin-top: -40px;
        border-bottom: 2px solid;
        border-bottom-width: 2px;
    }

    .container4 {
        padding-right: 15px;
        padding-left: 90px;
        margin-right: 0px;
        margin-left: 335px;
        height: 450px;
        width: 1261px;
        margin-bottom: 160px;
        margin-top: -40px;
        border-bottom: 2px solid;
        border-bottom-width: 2px;
    }

    .container5 {
        padding-right: 15px;
        padding-left: 90px;
        margin-right: 0px;
        margin-left: 335px;
        height: 450px;
        width: 1261px;
        margin-bottom: 160px;
        margin-top: -40px;
        border-bottom: 2px solid;
        border-bottom-width: 2px;
    }

    .container6 {
        padding-right: 15px;
        padding-left: 90px;
        margin-right: 0px;
        margin-left: 335px;
        height: 450px;
        width: 1261px;
        margin-bottom: 160px;
        margin-top: -40px;
        border-bottom: 2px solid;
        border-bottom-width: 2px;
    }

    .container7 {
        padding-right: 15px;
        padding-left: 90px;
        margin-right: 0px;
        margin-left: 335px;
        height: 450px;
        width: 1261px;
        margin-bottom: 160px;
        margin-top: -40px;
        border-bottom: 2px solid;
        border-bottom-width: 2px;
    }

    .container8 {
        padding-right: 15px;
        padding-left: 90px;
        margin-right: 0px;
        margin-left: 335px;
        height: 450px;
        width: 1261px;
        margin-bottom: 160px;
        margin-top: -40px;
        border-bottom: 2px solid;
        border-bottom-width: 2px;
    }

    .container9 {
        padding-right: 15px;
        padding-left: 90px;
        margin-right: 0px;
        margin-left: 335px;
        height: 450px;
        width: 1261px;
        margin-bottom: 160px;
        margin-top: -40px;
        border-bottom: 2px solid;
        border-bottom-width: 2px;
    }

    .container10 {
        padding-right: 15px;
        padding-left: 90px;
        margin-right: 0px;
        margin-left: 335px;
        height: 450px;
        width: 1261px;
        margin-bottom: 160px;
        margin-top: -40px;
        border-bottom: 2px solid;
        border-bottom-width: 2px;
    }

    .container11 {
        padding-right: 15px;
        padding-left: 90px;
        margin-right: 0px;
        margin-left: 335px;
        height: 450px;
        width: 1261px;
        margin-bottom: 160px;
        margin-top: -40px;
        border-bottom: 2px solid;
        border-bottom-width: 2px;
    }

    .container12 {
        padding-right: 15px;
        padding-left: 90px;
        margin-right: 0px;
        margin-left: 335px;
        height: 450px;
        width: 1261px;
        margin-bottom: 160px;
        margin-top: -40px;
        border-bottom: 2px solid;
        border-bottom-width: 2px;
    }

    .container13 {
        padding-right: 15px;
        padding-left: 90px;
        margin-right: 0px;
        margin-left: 335px;
        height: 450px;
        width: 1261px;
        margin-bottom: 160px;
        margin-top: -40px;
        border-bottom: 2px solid;
        border-bottom-width: 2px;
    }

    .container14 {
        padding-right: 15px;
        padding-left: 90px;
        margin-right: 0px;
        margin-left: 335px;
        height: 450px;
        width: 1261px;
        margin-bottom: 160px;
        margin-top: -40px;
        border-bottom: 2px solid;
        border-bottom-width: 2px;
    }

    .container15 {
        padding-right: 15px;
        padding-left: 90px;
        margin-right: 0px;
        margin-left: 335px;
        height: 450px;
        width: 1261px;
        margin-bottom: 160px;
        margin-top: -40px;
        border-bottom: 2px solid;
        border-bottom-width: 2px;
    }

    .container16 {
        padding-right: 15px;
        padding-left: 90px;
        margin-right: 0px;
        margin-left: 335px;
        height: 450px;
        width: 1261px;
        margin-bottom: 160px;
        margin-top: -40px;
        border-bottom: 2px solid;
        border-bottom-width: 2px;
    }

    .container17 {
        padding-right: 15px;
        padding-left: 90px;
        margin-right: 0px;
        margin-left: 335px;
        height: 450px;
        width: 1261px;
        margin-bottom: 160px;
        margin-top: -40px;
        border-bottom: 2px solid;
        border-bottom-width: 2px;
    }

    .container18 {
        padding-right: 15px;
        padding-left: 90px;
        margin-right: 0px;
        margin-left: 335px;
        height: 450px;
        width: 1261px;
        margin-bottom: 160px;
        margin-top: -40px;
        border-bottom: 2px solid;
        border-bottom-width: 2px;
    }

    .container19 {
        padding-right: 15px;
        padding-left: 90px;
        margin-right: 0px;
        margin-left: 335px;
        height: 450px;
        width: 1261px;
        margin-bottom: 160px;
        margin-top: -40px;
        border-bottom: 2px solid;
        border-bottom-width: 2px;
    }

    .container20 {
        padding-right: 15px;
        padding-left: 90px;
        margin-right: 0px;
        margin-left: 335px;
        height: 450px;
        width: 1261px;
        margin-bottom: 160px;
        margin-top: -40px;
        border-bottom: 2px solid;
        border-bottom-width: 2px;
    }

    .container21 {
        padding-right: 15px;
        padding-left: 90px;
        margin-right: 0px;
        margin-left: 335px;
        height: 450px;
        width: 1261px;
        margin-bottom: 160px;
        margin-top: -40px;
        border-bottom: 2px solid;
        border-bottom-width: 2px;
    }

    .container22 {
        padding-right: 15px;
        padding-left: 90px;
        margin-right: 0px;
        margin-left: 335px;
        height: 450px;
        width: 1261px;
        margin-bottom: 160px;
        margin-top: -40px;
        border-bottom: 2px solid;
        border-bottom-width: 2px;
    }

    .container23 {
        padding-right: 15px;
        padding-left: 90px;
        margin-right: 0px;
        margin-left: 335px;
        height: 450px;
        width: 1261px;
        margin-bottom: 160px;
        margin-top: -40px;
        border-bottom: 2px solid;
        border-bottom-width: 2px;
    }
          .container25 {
        padding-right: 15px;
        padding-left: 90px;
        margin-right: 0px;
        margin-left: 335px;
        height: 450px;
        width: 1261px;
        margin-bottom: 160px;
        margin-top: -40px;
        border-bottom: 2px solid;
        border-bottom-width: 2px;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: " ";
    }

    .clearfix:after {
        clear: both;
    }
</style>

<div class="container-service" id="services">
    <h2> service list</h2>
    <table>
        <tr>
            <td></td>
        </tr>
    </table>
    <div class="container1" id="nailart-velvet" style="">
        <div id="image" style="float:left;">

            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px;margin-left: 380px;" >Nailart-Velvet</h3>

            <img src="/Content/mytemplate/images/nailart-velvet1.jpg" height="190" width="344" alt="icon">
            <br><br>

        </div>


        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

        <div id="book" style="float:left;">
            @*@Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 10 }, null)*@


        </div>
        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 10 }, null)
                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 10 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 10 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="container2" id="nailart-Caviar">



        <div id="image" style="float:left;">
            @*<h3>Nailart-Caviar</h3>*@
            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px;margin-left: 380px;" >Nailart-Cavier</h3>
            <img src="/Content/mytemplate/images/nail-beads.jpg" height="190" width="344" alt="icon">
            <br><br>
        </div>

        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

        <div id="book" style="float:left;">

        </div>
        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 12 }, null)


                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 12 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 12 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="container3" id="nailart-Neon">




        <div id="image" style="float:left;">
            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px;  margin-left: 380px;">Nailart-Neon</h3>

            <img src="~/Content/mytemplate/images/nailart-neon.jpg" height="190" width="344" alt="icon">
            <br><br>
        </div>

        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

     
        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 15 }, null)


                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 15 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 15 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="container4" id="nailart-Glitter">



        <div id="image" style="float:left;">
            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px; margin-left: 380px;">Nailart-Glitter</h3>

            <img src="/Content/mytemplate/images/nailart-glitter.jpg" height="190" width="344" alt="icon">
            <br><br>
        </div>

        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

       
        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 16 }, null)
                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 16 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 16 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="container5" id="nailart-Beads">



        <div id="image" style="float:left;">
            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px;margin-left: 380px;" >Nailart-Beads</h3>

            <img src="/Content/mytemplate/images/nail-caviar.jpg" height="190" width="344" alt="icon">
            <br><br>
        </div>

        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

     
        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 18 }, null)
                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 18 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 18 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="container6" id="nailart-wedding">



        <div id="image" style="float:left;">
            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px; margin-left: 380px;">Nailart-wedding</h3>

            <img src="~/Content/mytemplate/images/nail-wedding.png" height="190" width="344" alt="icon">
            <br><br>
        </div>

        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

      
        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 19 }, null)
                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 19 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 19 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="container7" id="nailart-Mountain">



        <div id="image" style="float:left;">
            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px; margin-left: 380px;">Nailart-Mountain</h3>
            <img src="~/Content/mytemplate/images/mountain-nails.png" height="190" width="344" alt="icon">
            <br><br>
        </div>

        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

     
        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 17 }, null)
                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 17 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 17 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="container8" id="nailart-Soak-off">



        <div id="image" style="float:left;">
            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px;margin-left: 380px;" >Nailart-Soak-off</h3>

            <img src="~/Content/mytemplate/images/soak_off.png" height="190" width="344" alt="icon">
            <br><br>
        </div>

        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

      
        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 7 }, null)
                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 7 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 7 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="container9" id="NAil_Overlays">



        <div id="image" style="float:left;">
            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px;margin-left: 380px;" >Nail-Overlays</h3>

            <img src="~/Content/mytemplate/images/nail-overlays - Copy.jpg" height="190" width="344" alt="icon">
            <br><br>
        </div>

        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

       
        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 1014 }, null)
                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 1014 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 1014 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="container10" id="Gel-Overlays">



        <div id="image" style="float:left;">
            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px;margin-left: 380px;" >Nail-GelOverlays</h3>

            <img src="~/Content/mytemplate/images/gel-overlays - Copy.jpg" height="190" width="344" alt="icon">
            <br><br>
        </div>

        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

        
        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 4 }, null)
                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 4 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 4 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="container11" id="Acrylic-Overlays">



        <div id="image" style="float:left;">
            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px;margin-left: 380px;" >Nail-AcrylicOverlays</h3>

            <img src="~/Content/mytemplate/images/acrylic-overlays.jpg" height="190" width="344" alt="icon">
            <br><br>
        </div>

        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

      
        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 5 }, null)
                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 5 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 5 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="container12" id="Infills">



        <div id="image" style="float:left;">
            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px;margin-left: 380px;" >Nailart-Glitter</h3>

            <img src="~/Content/mytemplate/images/infills.jpg" height="190" width="344" alt="icon">
            <br><br>
        </div>

        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

      
        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 6 }, null)
                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 6 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 6 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="container13" id="French-Infills">



        <div id="image" style="float:left;">
            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px;margin-left: 380px;" >French-Infills</h3>

            <img src="~/Content/mytemplate/images/french_infill.png" height="190" width="344" alt="icon">
            <br><br>
        </div>

        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

       
        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 9 }, null)
                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 9 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 9 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="container14" id="BasicManicure">



        <div id="image" style="float:left;">
            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px;margin-left: 380px;" >Basic Manicure</h3>

            <img src="~/Content/mytemplate/images/manicure.jpg" height="190" width="344" alt="icon">
            <br><br>
        </div>

        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

      
        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 24 }, null)
                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 24 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 24 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="container15" id="French_Manicure">



        <div id="image" style="float:left;">
            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px;margin-left: 380px;" >French Manicure</h3>

            <img src="~/Content/mytemplate/images/french-manicure.jpg" height="190" width="344" alt="icon">
            <br><br>
        </div>

        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

      
        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 26 }, null)
                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 26 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 26 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="container16" id="Reverse_French_Manicure">



        <div id="image" style="float:left;">
            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px; margin-left: 380px;" >Reverse French Manicure</h3>

            <img src="~/Content/mytemplate/images/reverse_french_manicure.jpg" height="190" width="344" alt="icon">
            <br><br>
        </div>

        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

      
        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 28 }, null)
                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 28 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 28 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="container17" id="American_Manicure">



        <div id="image" style="float:left;">
            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px;margin-left: 380px;" >American Manicure</h3>

            <img src="~/Content/mytemplate/images/american-manicure.jpg" height="190" width="344" alt="icon">
            <br><br>
        </div>

        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 31 }, null)
                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 31 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 31 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="container18" id="Gel_Manicure">



        <div id="image" style="float:left;">
            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px;  margin-left: 346px;">Gel Manicure</h3>

            <img src="~/Content/mytemplate/images/gel-manicure.jpg" height="190" width="344" alt="icon">
            <br><br>
        </div>

        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

    
        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 32 }, null)
                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 32 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 32 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="container19" id="Hotstone_Manicure">



        <div id="image" style="float:left;">
            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px; margin-left: 380px;">Hotstone Manicure</h3>

            <img src="~/Content/mytemplate/images/hotstone_manicure.jpg" height="190" width="344" alt="icon">
            <br><br>
        </div>

        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

        
        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 29 }, null)
                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 29 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 29 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="container23" id="Pedicure">



        <div id="image" style="float:left;">
            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px; margin-left: 394px;" >Pedicure</h3>

            <img src="~/Content/mytemplate/images/pedicure.png" height="190" width="344" alt="icon">
            <br><br>
        </div>

        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

      
        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 1015 }, null)
                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 1015 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 1015 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="container25" id="Mani-Pedi">



        <div id="image" style="float:left;">
            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px;margin-left: 380px;" >Manicure And Pedicure</h3>

            <img src="~/Content/mytemplate/images/Manicure-And-Pedicure.jpg" height="190" width="344" alt="icon">
            <br><br>
        </div>

        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 1016 }, null)
                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 1016 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 1016 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <div class="container20" id="Paraffin-Hand&Foot-Treatment">



        <div id="image" style="float:left;">
            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px;margin-left: 380px;" >Paraffin Hand &amp; Foot Treatment</h3>

            <img src="~/Content/mytemplate/images/paraffin-treatment1.jpg" height="190" width="344" alt="icon">
            <br><br>
        </div>

        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

       
        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 23 }, null)
                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 23 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 23 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="container21" id="Paraffin-Hand-Treatment">



        <div id="image" style="float:left;">
            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px;margin-left: 380px;" >Paraffin-Hand-Treatment</h3>

            <img src="~/Content/mytemplate/images/paraffin-handtreatment.jpg" height="190" width="344" alt="icon">
            <br><br>
        </div>

        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

     
        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 2 }, null)
                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 2 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 2 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="container22" id="Paraffin-Foot-Treatment">



        <div id="image" style="float:left;">
            <h3 style="margin-left: 330px;font-size: 20px; margin-top: 10px;margin-left: 380px;" >Paraffin-Foot-Treatment</h3>

            <img src="/Content/mytemplate/images/paraffin-foott-reatment.jpg" height="190" width="344" alt="icon">
            @*<br><br>*@
        </div>

        <div id="texts" style="float:left;">

            Being good to your hands and nails is about having good daily habits and
            choosing the right products to use on them. A few small changes could make
            a difference in how your hands and nails look and feel.
            WebMD asked dermatologists Jeffrey Dover, MD, associate clinical professor
            of dermatology at the Yale School of Medicine, and Heather Woolery-Lloyd, MD,
            assistant professor of dermatology at the University of Miami Miller School of
            Medicine, for guidance in knowing what's good for your hands.

            <br>
        </div>

       
        <br class="clearfix">
        <div class="pricelist" style="margin-top:10px;margin-right:10px;margin-left:50px;">
            <table border="1" style="width:60%; text-align:center;">

                <tr>
                    <th style="height:30px;width:20px;">Services Type</th>
                    <th style="height:30px;width:80px;">Content</th>
                    <th style="height:30px;width:60px;">Time Duration</th>
                    <th style="height:30px;width:20px;">Price</th>
                    <th style="height:30px;width:20px;">Booking</th>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Regular</td>
                    <td>Content</td>
                    <td style="height:30px;width:50px;">Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 3 }, null)
                    </td>
                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Express</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 3 }, null)
                    </td>

                </tr>
                <tr>
                    <td style="height:30px;width:30px;">Luxury</td>
                    <td>Content</td>
                    <td>Time Duration</td>
                    <td>Price</td>
                    <td>
                        @Html.ActionLink("BOOKING", "NailToBook", "bookings", new { @SId = 3 }, null)
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>


