@model nail_in_nottingham.Models.booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.consumer_first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consumer_first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.consumer_last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consumer_last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.consumer__mobileno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consumer__mobileno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.consumer_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consumer_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Service.service_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service.service_type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.booking_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
