@model nail_in_nottingham.Models.BookingModel
@{
    ViewBag.Title = "Booking";
}

@using (Html.BeginForm("NailToBook", "bookings", FormMethod.Post, new { id = "Form" }))
{
    //this  is for create form tag
    @Html.AntiForgeryToken()          // this is for prevent CSRF attack
                                    @Html.ValidationSummary(false)
    if (@ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }


    <h1><div class="abrakadabra">Book An Appointment Now</div></h1>

    <div class="booking">
        <div>
            <fieldset>

                <legend>Your Personal Details</legend>

                <table>
                    <tr>
                        <td>
                            Your First Name:
                        </td>
                        <td>
                            @Html.EditorFor(Model => Model.consumer_first_name, new { @style = "margin-left: 190px; width:225px;" })
                            @Html.ValidationMessageFor(Model => Model.consumer_first_name)
                        </td>
                    </tr>


                    <tr>
                        <td>
                            Last Name:
                        </td>
                        <td>
                            @Html.EditorFor(Model => Model.consumer_last_name, new { @style = "margin-left: 185px; width:200px;" })
                        </td>

                    </tr>

                    <tr>
                        <td> Phone Number:</td>
                        <td>
                            @Html.TextBoxFor(Model => Model.consumer__mobileno, new
                       {
                           type = "number", @*min = "0", max = "10"*@ })
                            @Html.ValidationMessageFor(m => m.consumer__mobileno)
                        </td>
                    </tr>

                    <tr>
                        <td>

                            E-mail:
                        </td>
                        <td>
                            @Html.EditorFor(Model => Model.consumer_email, new { @style = "margin-left: 227px ; width:199px;" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("YOUR BOOKING DETAILS:")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Service:
                        </td>
                        <td>

                            @Html.DropDownList("Servicelist")
                        </td>
                    </tr>

                    <tr>
                        <td>

                            Booking Date:
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.booking_date, new { @id = "datepicker" })

                        </td>
                    </tr>

                    <tr>
                        <td>

                            Pick A slot:
                        </td>
                        <td>
                            @Html.DropDownListFor(m => m.SlotID, new SelectList(Model.Slotlistmodel, "Value", "Text",
                   new { @id = "ddlslot" }))

                        </td>
                    </tr>
                </table>


            </fieldset>
</div>
<input type="submit" value="BOOK NOW" style= "margin-left: 150px; margin-top: 27px; height: 28px; width: 137px;"/>
</div>



}

